<style>
#cnt {
  width: 100%;
  height: 100%;
}
</style>
<p id="notice"><%= notice %></p>

<h1>List of ToDo's</h1>
<body id="cnt">
<table>
  <thead>
    <tr>
      <th>Ticket Number</th>
      <th>Comment</th>
      <th>Deadline</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.tiket %></td>
        <td><%= list.comment %></td>
        <td><%= list.time %></td>
        <td><%= link_to 'Show', list, class: "btn" %></td>
        <td><%= link_to 'Edit', edit_list_path(list), class: "btn" %></td>
        <td><%= link_to 'Delete', list, method: :delete, class: "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>
<br>
<%= link_to 'New ToDo', new_list_path, class: "btn" %>

<h1>New ToDo</h1>

<%= render 'form' %>
<%= link_to 'Back', lists_path %>
